/* == base -- */


/* == layout -- */
.l-header {
	margin-bottom: 20px;
}


/* == module -- */
.nav.nav-main {
	text-align: right;
	margin: 10px 0;
}
.nav.nav-main ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav.nav-main ul li {
	display: inline-block;
}
.nav.nav-main ul li a {
	border-radius: 0px;
	font-weight: bold;
}

.footnote {
	border-top: 1px solid #444;
}
.footnote p {
	font-size: 10px;
}

.h2-view {
	font-size: 18px;
	margin: 0 0 20px 0;
	position: relative;
}
.h2-view::after {
	content: "";
	display: block;
	position: absolute;
	background: #444444;
	bottom: -5px;
	height: 1px;
	width: 100%;
}

.postlisting {
	margin-bottom: 30px;
}
.postlisting p {
	margin: 0px;
	color: white;
}
.postlisting ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.postlisting ul li.postlisting-item {
	margin-bottom: 25px;
}
.postlisting ul li.postlisting-item:last-child {
	margin-bottom: 0px;	
}
.postlisting .postlisting-entry {}
.postlisting .postlisting-entry .postlisting-entry-meta {
	background: #0073aa;
	padding: 5px 10px;
	font-weight: bold;
}
.postlisting .postlisting-entry .postlisting-entry-content {
	background: #444444;
}
.postlisting .postlisting-entry .postlisting-entry-content .postlisting-entry-content-id {
	padding: 5px 10px;	
}
.postlisting .postlisting-entry .postlisting-entry-content .postlisting-entry-content-post {
	padding: 5px 10px;
	word-break: break-all;
}


.postform {
	border-top: 4px solid #0073aa;
	background: #444;
	width: 100%;
	max-width: 370px;
	color: white;
	padding: 8px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.postform #frmAddPost {}
.postform #frmAddPost p {}
.postform #frmAddPost p:last-child {
	margin-bottom: 0px;
}
.postform #frmAddPost p label {
	display: block;
	font-size: 12px;
}
.postform #frmAddPost p input {
	color: #444;
}
.postform #frmAddPost p input[type="text"] {
	width: 100%;
}
.postform #frmAddPost p input[type="text"].ng-invalid.ng-touched {
	border: 1px solid #ebccd1;
	background-color: #f2dede;
}
.postform #frmAddPost p input[type="submit"] {
	color: white;
	background: #5eba46;
	border: 0px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	max-width: 100px;
}
.postform #frmAddPost .alert {
	/*display: none;*/
	padding: 5px;
}
.postform #frmAddPost input[disabled="disabled"] {
	cursor: not-allowed;
}


/* == state -- */


/* == helper -- */


/* == media -- */