<h2 class="h2-view">
	Recent Posts
</h2>
<div class="postlisting">
	<div ng-if="a_wpPosts.length == 0">
		<div class="alert alert-info" role="alert">...GETting, please wait. </div>
	</div>
	<ul ng-if="a_wpPosts.length > 0" >
		<li class="postlisting-item" ng-repeat="o_wpPost in a_wpPosts" >
			<div class="postlisting-entry">
				<div class="postlisting-entry-meta">
					<p>
						Posted On - {{o_wpPost.date}}
					</p>
				</div>
				<div class="postlisting-entry-content">
					<div class="row">
						<div class="col-xs-1">
							<div class="postlisting-entry-content-id">
								<p>
									#{{o_wpPost.id}}
								</p>
							</div>
						</div>
						<div class="col-xs-11">
							<div class="postlisting-entry-content-post">
								<p ng-bind-html="o_wpPost.content.rendered"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>		
	</ul>
</div>