<h2 class="h2-view">
	Add Posts
</h2>
<div class="postform">
	<form novalidate id="frmAddPost" name="frmAddPost" >
		<p>
			<label>
				Content:
			</label>
			<input type="text" ng-model="frmAddPost.content" name="frmAddPost_content" placeholder="what you want to talk about?" value="" required="required" />
		</p>
		<div ng-if="frmAddPostState == 'success'" class="alert alert-success" role="alert">Success</div>
		<div ng-if="frmAddPostState == 'fail'" class="alert alert-warning" role="alert">Something went wrong. Try again later</div>
		<div ng-if="frmAddPostState == 'sending'" class="alert alert-info" role="alert">...sending, please wait </div>
		<p class="text-center">
			<input ng-if="frmAddPostState == ''" type="submit" value="Send" ng-click="addPost()" ng-disabled="frmAddPost.$invalid" />
		</p>
	</form>
</div>